{% extends "base.html" %}
{% load extra_tags %}
{% block title %} Softwares {% endblock %}
{% block content %}
    
    {% for category,name in categories %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
        {% endif %}
            <div class="four columns">
                <div class="panel category_box">
                    <div class="image">
                        <a href="{% url category category %}">
                            <img src="{{STATIC_URL}}images/categories/{{category}}.png" />
                        </a>
                    </div>
                    <div class="rest">
                        <div class="category_name">
                            <a href="{% url category category %}">
                                <h5>{{ name }}</h5>
                            </a>
                        </div>
                        <div class="top4">
                            {% for software in top4|hash:category %}
                                <span class="each4">
                                    <a href="{% url browse category software.id %}">
                                        <img src="{{MEDIA_URL}}{{software.image}}" />
                                    </a>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="clearall"></div>
            </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
        {% endif %}
    {% endfor %}

    </div>
{% endblock %}
